<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
        </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o programowaniu</h2>
        <h3>Autor: ReaperTheGrim</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>
        <div>
            <p>To jest akapit</p>
            <em>To jest wyróżniony tekst!</em><br>
            <strong>Tu jet pogrubiony tekst!</strong><br>
            <a href="https://www.google.com/">LINK</a>
        </div>
    <div>
        <ul>
            <li>Elementy Listy 1</li>
            <li>Elementy Listy 2</li>
            <li>Elementy Listy 3</li>
        </ul>
    </div>
</body>

</html>